version: '3.8'

services:
  postgres:
    image: postgres:13.3-alpine
    container_name: ser-service-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ser_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --lc-collate=C --lc-ctype=C"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network


volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
